h5 {
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:14px;
  text-align: center;
  margin-top: 10px;
  line-height: 1.4;
}
body{
    margin: 0;
  min-height: 100vh;
  font-family: "Exo 2", sans-serif;
  background:
    radial-gradient(circle at 50% 35%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.4) 30%, transparent 60%),
    radial-gradient(circle at 20% 60%, rgba(255,255,255,0.6), transparent 50%),
    radial-gradient(circle at 80% 65%, rgba(255,255,255,0.6), transparent 50%),
    linear-gradient(to bottom, #e9f0f7 0%, #d9e3ef 40%, #cfdbe8 100%);
}
  

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to top, rgba(255,255,255,0.85), transparent);
  pointer-events: none;
  backdrop-filter: blur(2px);
}

.flexbox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 20px auto 120px auto;
}
.tile{
  background: linear-gradient(to bottom, #ffffff 0%, #f2f6fa 100%);
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.08),
    inset 0 1px 0 rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:transform 0.15s ease, box-shadow 0.15s ease ;
}
.tile:hover{
  transform: scale(1.05);
  box-shadow: 0 14px 22px rgba(0,0,0,0.18),
    inset 0 1px 0 rgba(255,255,255,1); 
    background:linear-gradient(to bottom, #ffffff 0%, #eaf3ff 100%)
}
.tile img,
.tile video{
width: 100%;
height: auto;
object-fit: cover;
border-radius: 14px;
}

.wii-header{
  text-align:center ;
  font-size: 22px;
  font-weight: 500;
  padding: 20px 0;
  color:#5c6f82 ;
}

.wii-bar{
   position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #ffffff 0%, #e6edf5 100%);
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-size: 18px;
  color: #5c6f82;
}

.page-dots{
  display: flex;
  gap: 12px;

}
.dot{
  width: 14px;
  height: 14px;
  background: #cbd5e1;
  border-radius: 50%;
}

.dot.active{
  background: #7fa7d9;
}






